<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simplestocks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="center">
    <h1>
        <span>simplestocks</span>
    
        <span>simplestocks</span>
        <span>simplestocks</span>
    
    </h1>
    </div>

    <div class="second">
        <a href="https://www.marketwatch.com/" class="link" target="_blank">MarketWatch</a>
        <label for="file-upload"><h1>Upload CSV File</h1></label>
        <form method="post" enctype="multipart/form-data">
            <input type="file" id="file-upload" name="file">
            <br>
            <br>
            <input type="submit" value="View Predictions">
        </form>
    </div>
</div>

</body>
</html>